<div {{bind-attr class=":radio-buttons disabled:disabled"}}>
  <div class="radio-button" {{action 'assignValue' 'attending'}}>
    <i {{bind-attr class=":fa guest.isAttending:fa-check-circle-o:fa-circle-o"}}></i>
    <p>Attending</p>
  </div>
  <div class="radio-button" {{action 'assignValue' 'not_attending'}}>
    <i {{bind-attr class=":fa guest.isNotAttending:fa-check-circle-o:fa-circle-o"}}></i>
    <p>Not Attending</p>
  </div>
</div>
