<div class="container">
  <div class="box text-center">
    <img src="http://mishalandsamuel.com/logo.png">
    <p class="lg-text">Mr. &amp; Mrs. Sunny Mathew<br>And Mr. &amp; Mrs. Thomas Johnny</p>
    <p>request the honor of your presence<br>at the marriage of their children</p>
    <h1 class="uppercase">Mishal Mathew<br>&amp;<br>Samuel Johny</h1>
    <p>on Saturday, June 27, 2015 at 10:00am</p>
    <p>Custer Road United Methodist Church<br>6601 Custer Road<br>Plano, TX 75023</p>
    <p><em>Reception to follow</em></p>
    <p>Please RSVP online at <a href="http://mishalandsamuel.com/rsvp">mishalandsamuel.com</a><br>with the code:</p>
    <h2><%= @code %></h2>
    <hr>
    <div class="disclaimer">
      <p>If you have any questions, please email us at<br><a href="mailto:mishalandsamuel@gmail.com">mishalandsamuel@gmail.com</a> or call 469-277-9975.</p>
    </div>
  </div>
  <div class="verse">"...but the greatest of these is love." 1 Corinthians 13:13</div>
</div>
