<div class="container">
  <div class="box">
    <img src="http://mishalandsamuel.com/logo.png">
    <p>Here's an updated copy of the master CSV. Let me know if you need anything else!</p>
    <p class="closing">
      <span>Thanks,</span>
      <br>
      <span>Robin</span>
    </p>
  </div>
  <div class="copyright">&copy; 2015 Mishal &amp; Samuel</div>
</div>
