<div class="audio">
  <h3>With Or Without You</h3>
  <h4>by U2</h4>
  <div class="controls">
    <i {{bind-attr class=":fa muteAudio:fa-volume-off:fa-volume-up"}} {{action 'toggleProperty' 'muteAudio'}}></i>
  </div>
</div>