<div class="footer">
  <hr>
  <div class="inner">
    <p>"...But the greatest of these is love." 1 Corinthians 13:13</p>
  </div>
  <hr class="small">
  <div class="inner copy">
    <p>Designed and Developed by <a href="http://rmj.io" target="_blank" {{action 'clickedLink' 'rmj.io' on="mouseUp"}}>Robin Joseph</a> &copy; 2015</p>
  </div>
</div>