<div class="header">
  <div class="inner">
    <ul>
      <li>
        {{#link-to 'index'}}Home{{/link-to}}
      </li><li>
        {{#link-to 'story'}}Our Story{{/link-to}}
      </li><li>
        {{#link-to 'photos'}}Photos{{/link-to}}
      </li><li>
        {{#link-to 'who'}}Who{{/link-to}}
      </li><li>
        {{#link-to 'where'}}Where{{/link-to}}
      </li><li>
        {{#link-to 'registry'}}Registry{{/link-to}}
      </li><li>
        {{#link-to 'rsvp'}}RSVP{{/link-to}}
      </li>
    </ul>
  </div>
</div>