<div class="jumbotron">
  <div class="inner">
    <h1>Mishal and Samuel</h1>
    <h2>6/1/15</h2>
    <h3>#mishalandsamuel</h3>
    {{#link-to 'rsvp'}}
      <button class="big">RSVP</button>
    {{/link-to}}
  </div>
</div>