<div class="jumbotron" id="home">
  <div class="inner">
    <h1>Mishal and Samuel</h1>
    <h2>6/27/15</h2>
    <h3><a href="https://twitter.com/intent/tweet?hashtags=mishalandsamuel" target="_blank">#mishalandsamuel</a></h3>
    {{#link-to 'rsvp'}}
      <button class="big">RSVP</button>
    {{/link-to}}
  </div>
</div>