<div class="jumbotron" id="photos">
  <div class="inner">
    <h1>Photos</h1>
  </div>
</div>
<div class="container centered">
  <h1>Gallery</h1>
  <div class="gallery">
    {{#each photo in model}}
      <div class="item">
        <a {{bind-attr href="photo.dataUrl"}} data-lightbox="gallery">
          <img {{bind-attr src="photo.dataUrl"}}>
          <div class="overlay"><i class="fa fa-search-plus"></i></div>
        </a>
      </div>
    {{/each}}
  </div>
  <p>Photos by <a href="http://www.georgestreetphoto.com" target="_blank">George Street Photo &amp; Video</a></p>
</div>