<div class="jumbotron" id="registry">
  <div class="inner">
    <h1>Registry</h1>
  </div>
</div>
<div class="container centered">
  <h1><a href="https://www-secure.target.com/gift-registry/registry/aAY5NPRidAAd9hystq5Icw" target="_blank" {{action 'clickedLink' 'Target' 'Title' target=controllers.application on="mouseUp"}}>Target</a></h1>
  <a href="https://www-secure.target.com/gift-registry/registry/aAY5NPRidAAd9hystq5Icw" target="_blank" {{action 'clickedLink' 'Target' 'Image' target=controllers.application on="mouseUp"}}>
    <%= image_tag "target.jpg", :class => "small" %>
  </a>
  <h1><a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541842599&eventType=Wedding" target="_blank" {{action 'clickedLink' 'Bed, Bath, and Beyond' 'Title' target=controllers.application on="mouseUp"}}>Bed, Bath, &amp; Beyond</a></h1>
  <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541842599&eventType=Wedding" target="_blank" {{action 'clickedLink' 'Bed, Bath, and Beyond' 'Image' target=controllers.application on="mouseUp"}}>
    <%= image_tag "bbb.jpg", :class => "small" %>
  </a>
</div>