<div class="jumbotron" id="registry">
  <div class="inner">
    <h1>Registry</h1>
  </div>
</div>
<div class="container centered">
  <h1>Target</h1>
  <p>TODO: Link and maybe image or something</p>
  <h1>Bed, Bath, and Beyond</h1>
  <p>TODO: Link and maybe image or something</p>
</div>