<div class="jumbotron" id="registry">
  <div class="inner">
    <h1>Registry</h1>
  </div>
</div>
<div class="container centered">
  <h1><a href="https://www-secure.target.com/gift-registry/registry/aAY5NPRidAAd9hystq5Icw" target="_blank">Target</a></h1>
  <a href="https://www-secure.target.com/gift-registry/registry/aAY5NPRidAAd9hystq5Icw" target="_blank">
    <%= image_tag "target.jpg", :class => "small" %>
  </a>
  <h1><a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541842599&eventType=Wedding" target="_blank">Bed, Bath, &amp; Beyond</a></h1>
  <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541842599&eventType=Wedding" target="_blank">
    <%= image_tag "bbb.jpg", :class => "small" %>
  </a>
</div>