<div class="jumbotron" id="rsvp">
  <div class="inner">
    <h1>RSVP</h1>
  </div>
</div>
<div class="container centered">
  <h2>The window to RSVP has passed. To view your response, please enter the code found in your invitation.</h2>
  <form {{action "findParty" on="submit"}}>
    {{input type="text" value=code placeholder="RSVP Code"}}
    <input type="submit" {{bind-attr disabled="isProcessing"}} value="Submit">
  </form>
  <br>
  {{#if invalidCode}}
    <hr>
    <p><em>Sorry, it doesn't look like that's a valid code. If you did receive that code, send an email to <a href="mailto:mishalandsamuel@gmail.com">mishalandsamuel@gmail.com</a>, and we can help you out.</em></p>
  {{/if}}
  {{#if model}}
    <hr>
    <p class="small-error"><em>We recommend viewing this form on a larger screen for a better experience.</em></p>
    <div class="section">
      <table>
        <tbody>
          <tr>
            <th>Name</th>
            <th class="center">Response</th>
            <th class="center">Meal Option</th>
            <th class="center">Email</th>
          </tr>
          {{#each guest in guests}}
            <tr>
              <td>{{guest.name}}</td>
              <td class="left">{{radio-button guest=guest disabled=true}}</td>
              <td class="center">{{drop-down defaultMessage="Select a meal" emptyMessage="No meal options available" items=meals item=guest.meal disabled=true}}</td>
              <td class="center">{{input type="email" value=guest.email placeholder="Email Address" disabled=true}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      <p><em>If you have any questions or concerns, send an email to <a href="mailto:mishalandsamuel@gmail.com">mishalandsamuel@gmail.com</a>, and we'd be happy to address them.</em></p>
    </div>
  {{/if}}
</div>
