<div class="jumbotron" id="rsvp">
  <div class="inner">
    <h1>RSVP</h1>
  </div>
</div>
<div class="container centered">
  <h2>To RSVP for the wedding, please enter the code found in your invitation.</h2>
  <form {{action "findParty" on="submit"}}>
    {{input type="text" value=code placeholder="RSVP Code"}}
    <input type="submit" {{bind-attr disabled="isProcessing"}} value="Submit">
  </form>
  <br>
  {{#if invalidCode}}
    <hr>
    <p><em>Sorry, it doesn't look like that's a valid code. If you did receive that code, send an email to <a href="mailto:mishalandsamuel@gmail.com">mishalandsamuel@gmail.com</a>, and we can help you out.</em></p>
  {{/if}}
  {{#if model}}
    <hr>
    <h2>You're almost done RSVPing!</h2>
    <p><em>Remember to click "Save" at the bottom if you change anything.</em></p>
    <div class="section">
      <table>
        <tbody>
          <tr>
            <th>Name</th>
            <th class="center">Response</th>
            <th class="center">Meal Option</th>
          </tr>
          {{#each guest in guests}}
            <tr>
              <td>{{guest.name}}</td>
              <td class="left">{{radio-button guest=guest}}</td>
              <td class="center">{{drop-down defaultMessage="Select a meal" emptyMessage="No meal options available" items=meals item=guest.meal}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      <div class="button-group">
        <button {{action 'setAll' 'attending'}}>All Are Attending</button>
        <button {{action 'setAll' 'not_attending'}}>All Are Not Attending</button>
      </div>
      <br>
      <p>If you are attending and wish to receive an update about your table number at a time closer to the wedding, enter your email address below.</p>
      {{input type="email" value=model.email placeholder="Email Address"}}
      <br>
      <button {{action 'submit'}}>Save</button>
      {{banner-container errors=errors notices=notices}}
      <br>
      <p><em>If you have any questions or concerns, send an email to <a href="mailto:mishalandsamuel@gmail.com">mishalandsamuel@gmail.com</a>, and we'd be happy to address them.</em></p>
    </div>
  {{/if}}
</div>