<div class="jumbotron" id="story">
  <div class="inner">
    <h1>Our Story</h1>
  </div>
</div>
<div class="container centered">
  <div class="section">
    <div class="image">
      <%= image_tag "target.jpg" %>
    </div><div class="info left">
      <h2>Her's</h2>
      <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
    </div>
  </div>
  <hr>
  <div class="section">
    <div class="image left">
      <%= image_tag "target.jpg" %>
    </div><div class="info right">
      <h2>His</h2>
      <p>TODO: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis vel lacus egestas commodo. Nam ac augue ac eros pellentesque faucibus. Nunc commodo ac dolor sed varius. Nullam ipsum felis, interdum lacinia libero in, convallis bibendum leo. Donec felis ipsum, finibus vel nunc vel, aliquam congue nulla.</p>
    </div><div class="image right">
      <%= image_tag "target.jpg" %>
    </div>
  </div>
</div>