<div class="jumbotron" id="story">
  <div class="inner">
    <h1>Our Story</h1>
  </div>
</div>
<div class="container centered">
  <div class="section">
    <div class="image">
      <%= image_tag "story/hers.jpg" %>
    </div><div class="info left">
      <h2>Hers</h2>
      <p>Before Samuel and I became friends, he was just "that nice guy who took my sisters out for fieldtrips with his niece." Oh, and I didn't know him as Samuel; his nickname was Slim. Go figure ;)</p>
      <p>Our friendship kicked off one day when I called to ask him about his car. I was planning to get a new one, and I really liked his. (How did we have each other's numbers, you may ask? He asked me for my number a few months earlier, though he'll never admit to that!) It was so easy to talk to him. We had so many similarities &mdash; music, passion for worship, love of food, babies, and so much more. But the more we talked, the more we realized there was something even deeper going on. We realized that God was doing something pretty amazing in our lives; the pieces were just lining up too perfectly!</p>
      <p>And now, here we are! Samuel is such a caring, thoughtful, patient, and God-fearing man. To top it off, he's super cute, funny, and athletic too! I love how he loves others and how he is a big brother to my sisters. Back when we started talking, I always thought this was too good to be true. And now, I still think that I'm too lucky and blessed to have him as my husband. I can't thank God enough for bringing Samuel into my life. I'm excited for our journey ahead!</p>
    </div>
  </div>
  <hr>
  <div class="section">
    <div class="image left">
      <%= image_tag "story/his.jpg" %>
    </div><div class="info right">
      <h2>His</h2>
      <p>Mishal and I met at church and started becoming really good friends over the last few years. Before that, I would occasionally take my niece and Mishal's sisters on field trips, so Mishal and I have known each other for a lot longer.</p>
      <p>I knew there was something special about her as I began to know her more and more. Her maturity, both spiritually and intellectually, amazed me from the start. Growing up, I had a list of qualities I wanted in my future wife that I only told God and Sibi (best man) about. Mishal fulfilled all those and more! As our friendship grew, I slowly began to realize that she was the girl placed into my life for a specific reason. She continues to amaze me with her love for God and others.</p>
      <p>If I had to pick one of my favorite qualities (among many), it's her smile. It has to be a record of some kind! No one shows more teeth than she does when she smiles. I sometimes wish her face could be frozen in that positon. She has a passion for church, music, children, and sports (she likes watching; I like playing), which add to the incredible person she is. Eating is also something we love to do together, although it may not look like it. I am very grateful to know her and am excited to see what the future holds for our marriage.</p>
    </div><div class="image right">
      <%= image_tag "story/his.jpg" %>
    </div>
  </div>
</div>