<div class="jumbotron" id="story">
  <div class="inner">
    <h1>Our Story</h1>
  </div>
</div>
<div class="container centered">
  <h1>Her's</h1>
  <p>TODO: Her story...</p>
  <h1>His</h1>
  <p>TODO: His story...</p>
</div>