<div class="jumbotron" id="who">
  <div class="inner">
    <h1>Who</h1>
  </div>
</div>
<div class="container centered">
  <h1>Bridesmaids</h1>
  <p>TODO: Stuffs</p>
  <h1>Groomsmen</h1>
  <p>TODO: Stuffs</p>
</div>