@font-face {
  font-family: 'Carolyna Pro Black';
  src: font-url('CarolynaProBlack.eot');
  src: font-url('CarolynaProBlack.eot') format('embedded-opentype'),
       font-url('CarolynaProBlack.woff2') format('woff2'),
       font-url('CarolynaProBlack.woff') format('woff'),
       font-url('CarolynaProBlack.ttf') format('truetype'),
       font-url('CarolynaProBlack.svg#CarolynaProBlack') format('svg');
}