@import 'variables';
@import 'mixins';

.footer {
  font-family: $heading-font;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: $teal-color;
  max-width: $max-width;
  margin: 0 auto;

  hr {
    margin: 0 auto;

    &.small {
      max-width: 200px;
    }
  }

  .inner {
    padding: 20px;

    &.copy {
      font-size: 0.8em;
    }

    p {
      margin: 0;
    }

    img {
      display: block;
      width: 100px;
      margin: 0 auto;
      margin-top: 10px;
    }

    a {
      text-decoration: underline;
    }
  }
}