@import 'variables';
@import 'mixins';

.header {
  font-family: $heading-font;
  text-transform: uppercase;
  text-align: center;
  background: white;
  position: relative;
  z-index: 10;
  box-shadow: $shadow;

  .inner {
    max-width: $max-width;
    margin: 0 auto;
    padding: 15px 20px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        vertical-align: middle;
        margin: 5px 20px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          &.active,
          &:hover {
            color: $teal-color;
          }
        }
      }
    }
  }
}