@import 'variables';
@import 'mixins';

body.mailer {
  margin: 0;
  font-family: $body-font;
  color: $gray-color;
  background: $white-color;
  text-align: left;
  // line-height: 1.5em;

  h1,
  h2 {
    font-family: $heading-font;
    font-weight: normal;
    color: $teal-color;

    &.uppercase {
      text-transform: uppercase;
    }
  }

  hr {
    border: 0;
    margin: 20px 0;
    height: 1px;
    background: $teal-color;
  }

  .disclaimer {
    color: lighten($gray-color, 20%);
    font-size: 12px;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 60px 20px;

    .box {
      border-radius: $border-radius;
      border: 3px $teal-color solid;
      padding: 20px;

      &.text-center {
        text-align: center;
      }

      svg,
      img {
        display: block;
        margin: 0 auto;

        &.logo {
          width: 150px;
          height: 150px;
        }

        &.floor-plan {
          width: 100%;
        }
      }

      ul {
        ul {
          padding-left: 20px;
        }
      }
    }

    .copyright {
      text-align: right;
      font-size: 12px;
    }

    .verse {
      font-family: $heading-font;
      color: $teal-color;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  a {
    color: $teal-color;
  }

  .lg-text {
    font-size: 1.5em;
  }
}
