@import 'variables';
@import 'mixins';

/* STYLE RESET */

html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: $body-font;
  // line-height: 1.5em;
  color: $gray-color;
  background: $white-color;
}

b,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: normal;
  color: $teal-color;

  &.uppercase {
    text-transform: uppercase;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  background: darken($white-color,20%);
  border: none;
  height: 1px;
  width: 100%;
}

img {
  display: block;
}

input,
textarea {
  font-family: $body-font;
  border-radius: $border-radius;
  background: #fff;
  -webkit-appearance: none;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  display: block;
  border: 2px $teal-color solid;
  margin: 2px auto;
  @include border-box;

  &:disabled {
    color: #999999;
    border-color: $disabled-color;
  }

  &.half-input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 100px;
    max-width: calc(100px - 2px);

    &:first-child {
      margin-right: 2px;
    }

    &:last-child {
      margin-left: 2px;
    }
  }
}

button.full {
  width: 100%;
  max-width: 200px;
}

button,
input[type="submit"] {
  cursor: pointer;
  font-family: $body-font;
  border-radius: $border-radius;
  background: $teal-color;
  color: $white-color;
  -webkit-appearance: none;
  font-size: 14px;
  @include border-box;
  padding: 10px 15px;
  margin: 2px auto;
  border: 2px $teal-color solid;

  &.bold {
    font-family: $heading-font;
  }

  &.big {
    font-family: $heading-font;
    font-size: 1.5em;
    border-width: 4px;
    padding: 15px 25px;
  }

  &:hover {
    background: darken($teal-color, 5%);
    border-color: darken($teal-color, 5%);
  }

  &:active,
  &.active {
    background: darken($teal-color, 10%);
    border-color: darken($teal-color, 10%);
  }

  &:disabled {
    background: $disabled-color;
    border-color: $disabled-color;
    cursor: default;
  }

  &.error {
    background: $red-color;
    border-color: $red-color;

    &:hover {
      background: darken($red-color, 5%);
      border-color: darken($red-color, 5%);
    }

    &:active,
    &.active {
      background: darken($red-color, 10%);
      border-color: darken($red-color, 10%);
    }
  }
}

table {
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;

  tr {
    & > * {
      padding: 5px 20px 5px 0;

      &:last-child {
        padding-right: 0;
      }

      &.center {
        text-align: center;
      }

      &.right {
        text-align: right;
      }

      button {
        margin-right: 3px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  table {
    tr {
      & > * {
        padding-right: 10px;
      }
    }
  }
}

input:focus,
textarea:focus,
button:focus,
applet:focus,
embed:focus,
iframe:focus,
object:focus {
  outline: none;
}

/* CHECKBOXES */

.checkbox {
  cursor: pointer;
  @include disable-selection;

  i,
  p {
    display: inline-block;
    vertical-align: middle;
  }

  i {
    background: #FFFFFF;
    height: 1em;
    width: 1em;
    border-radius: 2px;
  }

  p {
    margin-left: 5px;
  }
}

/* DROPDOWNS */

.dropdown {
  margin: 2px 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 200px;
  text-align: center;
  position: relative;

  span {
    display: inline-block;
  }

  &.open {
    .dropdown-selected {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .dropdown-list {
      display: block;
    }
  }

  .default {
    color: #aaa;
  }

  .dropdown-selected {
    border-radius: $border-radius;
    border: 2px $teal-color solid;
    background: #fff;
    font-size: 14px;
    @include border-box;
    padding: 12px 11px 11px 11px;
    cursor: pointer;
    position: relative;

    .selected-name {
      padding-right: 21px;
    }

    .caret {
      position: absolute;
      top: 12px;
      right: 12px;
      color: $black-color;
    }
  }

  .dropdown-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 5;
    position: absolute;
    width: calc(100% - 4px);
    max-height: 146px;
    overflow-y: scroll;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 2px $teal-color solid;
    border-top: none;

    .dropdown-item {
      background: white;
      font-size: 14px;
      @include border-box;
      padding: 12px 11px 11px 11px;
      cursor: pointer;
      position: relative;
    }
  }
}

/* BANNERS */

.banner-container {
  position: relative;
  max-width: $banner-width;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  .banner {
    border: 2px transparent solid;
    border-radius: $border-radius;
    padding: 10px;
    margin: 5px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.error {
      background: lighten($red-color, 25%);
      border-color: darken($red-color, 25%);
      color: darken($red-color, 25%);
    }

    &.notice {
      background: lighten($green-color, 25%);
      border-color: darken($green-color, 25%);
      color: darken($green-color, 25%);
    }

    p {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      width: calc(100% - 15px);
    }

    .fa-times {
      width: 15px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

/* JUMBOTRON */

.jumbotron {
  background-size: cover;
  background-position: center center;
  position: relative;
  text-shadow: $shadow;

  &#home {
    // === DON'T FORGET TO ADJUST THE BACKGROUND POSITION IN THE MEDIA QUERIES ===
    background-image: image-url('waist_down.jpg'); // home
    // background-image: image-url('back_shot.jpg'); // where
    // background-image: image-url('looking_down.jpg'); // rsvp
    // background-image: image-url('open_field.jpg'); // photos
    // background-image: image-url('leaning_back.jpg'); // story
    // background-image: image-url('front_shot.jpg'); // registry
    // background-image: image-url('sam_back.jpg'); // who
  }

  &#story {
    background-image: image-url('leaning_back.jpg');
    background-position-y: top; // this is for leaning_back.jpg
  }

  &#photos {
    background-image: image-url('open_field.jpg');
    background-position-y: top; // this is for open_field.jpg
  }

  &#who {
    background-image: image-url('sam_back.jpg');
    background-position-y: -100px; // this is for sam_back.jpg
  }

  &#where {
    background-image: image-url('back_shot.jpg');
  }

  &#registry {
    background-image: image-url('front_shot.jpg');
  }

  &#rsvp {
    background-image: image-url('looking_down.jpg');
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  .inner {
    max-width: $max-width;
    margin: 0 auto;
    padding: 160px 20px;
    text-align: center;
    position: relative;
    z-index: 2;

    * {
      color: white;
    }

    h1,
    h2 {
      margin: 0.5em;
    }

    h1 {
      font-size: 4em;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    h2 {
      margin-top: 0;
    }

    h2,
    h3 {
      font-size: 2em;
      font-family: $body-font;
    }

    button {
      box-shadow: $shadow;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .jumbotron {
    &#photos {
      background-position-y: -100px; // this is for sam_back.jpg
    }
  }
}

@media all and (min-width: 800px) {
  .jumbotron {
    &#who {
      background-position-y: -300px; // this is for sam_back.jpg
    }
  }
}

@media all and (max-width: 500px) {
  .jumbotron {
    .inner {
      h1 {
        font-size: 2.5em;
      }
    }
  }
}

/* CONTAINER */

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;

  &.centered {
    text-align: center;
  }

  a {
    color: $teal-color;
    text-decoration: underline;
  }

  img,
  iframe {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 2px $teal-color solid;
    border-radius: $border-radius;

    &.small {
      max-width: 300px;
    }
  }

  .section {
    padding: 20px;

    .image,
    .info {
      display: inline-block;
      vertical-align: middle;
    }

    .image {
      width: 35%;
      margin-right: 30px;

      &.left {
        display: none;
      }

      &.right {
        margin-right: 0;
        margin-left: 30px;
      }

      img {
        width: 100%;
      }
    }

    .info {
      width: calc(65% - 30px);

      &.left {
        text-align: left;
      }

      &.right {
        text-align: right;
      }

      h2 {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .container {
    .section {
      .image,
      .info {
        display: block;
        width: 100%;
      }

      .image {
        margin: 0 0 20px 0;
        &.left {
          display: block;
        }

        &.right {
          display: none;
        }

        img {
          max-width: 300px;
          margin: 0 auto;
        }
      }

      .info {
        &.left,
        &.right {
          text-align: center;
        }
      }
    }
  }
}

/* AUDIO */

.audio {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  background: white;
  box-shadow: $shadow;
  border-radius: $border-radius;
  padding: 10px;
  font-size: 12px;
  opacity: 0.5;
  @include transition(opacity);

  &:hover {
    opacity: 1;
  }

  & > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  h4 {
    color: $gray-color;
  }

  .controls {
    i {
      cursor: pointer;
    }
  }
}

@media all and (max-width: 500px) {
  .audio {
    display: none;
  }
}

/* OTHER */

.toggle-buttons {
  margin: 0.67em;

  button {
    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}
