$white-color: #EEEEEE;
$gray-color:  #626262;
$black-color: #333333;
$teal-color:  #118073;
$navy-color:  #0C0D4B;

$disabled-color: #AAAAAA;
$green-color:    #86CAA1;
$red-color:      #EA6153;

$title-font:   "Montserrat",         "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font: "Montserrat",         "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font:    "Source Sans Pro",    "Helvetica Neue", Helvetica, Arial, sans-serif;
$script-font:  "Carolyna Pro Black", "Helvetica Neue", Helvetica, Arial, sans-serif;

$max-width:     960px;
$border-radius: 4px;
$shadow:        0 1px 6px rgba(0, 0, 0, 0.7);
$banner-width:  $max-width - 200px;
$banner-width:  $max-width - 200px;
