$white-color: #EEEEEE;
$gray-color:  #626262;
$black-color: #333333;
$teal-color:  #118073;
$navy-color:  #0C0D4B;

$disabled-color:         #AAAAAA;
$error-color:            #EA6153;

$normal-font: "Raleway Medium",  "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold-font:   "Raleway Bold",    "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-font:  "Raleway Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

$max-width:     960px;
$border-radius: 4px;
